
<body style="background-color: darkslategray; height: 95vh; width: 100%;">

    <div style="display: flex; justify-content: center;"><p style="font-size: xx-large; color: whitesmoke;">Welcome Client</p></div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner" style="width: 80%; display: flex; justify-content: space-around; height: 80vh;" >
          <div class="carousel-item active">
            <img src="../../../assets/Images/230810151827-01-fun-habit-wellness-stock.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Images/Fun._band.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Images/image-asset.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Images/images.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Images/mygov_1627119749457663.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Images/rachel-strong-VhcxuEGNXo4-unsplash_2048x2048.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/Images/various-sport-equipments-generative-ai-1706958639790-compressed.jpg" class="d-block w-100" alt="...">
          </div>
        </div>    
    </div>
        
    </body>
    
